# Format Rating Data

## Load rating data into a df

In [2]:
import pandas

path = "/Users/hastigheibidehnashi/DBMS/IMDb/raw_data/"
file = "title.ratings.tsv.gz"
rating_df = pandas.read_csv(path+file, sep="\t", na_values="\\N", nrows = 20)
display(rating_df)

       tconst  averageRating  numVotes
0   tt0000001            5.6      1658
1   tt0000002            6.1       201
2   tt0000003            6.5      1370
3   tt0000004            6.2       122
4   tt0000005            6.2      2158
5   tt0000006            5.3       115
6   tt0000007            5.4       661
7   tt0000008            5.4      1822
8   tt0000009            5.9       155
9   tt0000010            6.9      6077
10  tt0000011            5.2       266
11  tt0000012            7.4     10423
12  tt0000013            5.7      1584
13  tt0000014            7.1      4654
14  tt0000015            6.1       829
15  tt0000016            5.9      1210
16  tt0000017            4.6       243
17  tt0000018            5.3       480
18  tt0000019            5.3        20
19  tt0000020            5.0       268

## Export df to .tsv file

In [3]:
# save formatted data as new tsv file
path = "/Users/hastigheibidehnashi/DBMS/IMDb/IMDb_Database/data/"
file = "rating.tsv"
rating_df.to_csv(path+file, sep="\t")